<div id="add-a-book-modal" class="hidden animated">
    <div class="modal-content">
        <h4>ADD A BOOK</h4>
        <div class="divider"></div>
        <br>
        <div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Title" id="input-title" type="text" class="validate">
                    <label for="input-title">Title</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Author" id="input-author" type="text" class="validate">
                    <label for="input-author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Subject" id="input-subject" type="text" class="validate">
                    <label for="input-subject">Subject</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Photo URL" id="input-photoURL" type="text" class="validate">
                    <label for="input-photoURL">Photo URL</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="cancel-modal-button" class="modal-close waves-effect waves-green btn btn-flat">Cancel</a>
        <a href="#!" id="accept-modal-button" class="modal-close waves-effect waves-green btn btn-flat">Add Book</a>
    </div>
</div>