{{!nothing big change in add-book}}

<div id="add-a-book-modal" class="hidden">
    <div class="modal-content">
        <h4>ADD A BOOK</h4>
        <div class="divider"></div>
        <br>
        <div style="padding: 20px;">
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Title" id="input-title" type="text" class="validate">
                    <label for="first_name">Title</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Author" id="input-author" type="text" class="validate">
                    <label for="first_name">Author</label>{{!chould use price}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Subject" id="input-subject" type="text" class="validate">
                    <label for="first_name">Subject</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Photo URL" id="input-photoURL" type="text" class="validate">
                    <label for="first_name">Photo URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Enter Vendor URL" id="input-vendorURL" type="text" class="validate">
                    <label for="first_name">Vendor URL</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input type="text" class="datepicker" id="input-date">
                    <label for="first_name">Published Date</label>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="cancel-modal-button" class="modal-close waves-effect waves-green btn btn-flat">Cancel</a>
        <a href="#!" id="accept-modal-button" class="modal-close waves-effect waves-green btn btn-flat">Add Book</a>
    </div>
</div>
