<div class="col s12 m4 l4 books">
    <div class="card">
        <div class="card-image">
            <img src="{{photoURL}}">
            <span class="card-title">{{title}}</span>
            <div class='rating'><i class='material-icons'>star</i>
                <span></span></div>
        </div>
        <div class="card-action">
            <a href='#' class='waves-effect '><i class="material-icons">add_shopping_cart</i></a>
            <a href='#' class='waves-effect' style="float: right"><i class='material-icons'>favorite</i></a>
        </div>
    </div>
</div>