<div id="edit-book-modal" class="hidden">
    <div class="modal-content">
        <h4>Edit {{title}}</h4>
        <div class="divider"></div>
        <br>
        <div style="padding: 20px;">
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="edit-title" type="text" class="validate">
                    <label class="edit-label" for="edit-title">Title</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="edit-author" type="text" class="validate">
                    <label class="edit-label" for="edit-author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="edit-subject" type="text" class="validate">
                    <label class="edit-label" for="edit-subject">Subject</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="edit-photoURL" type="text" class="validate">
                    <label class="edit-label" for="edit-photoURL">Photo URL</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="cancel-edit-button" class="modal-close waves-effect waves-green btn btn-flat">Cancel</a>
        <a href="#!" id="accept-edit-button" class="modal-close waves-effect waves-green btn btn-flat">Save Book</a>
    </div>
</div>