{{> add-a-book-modal}}

<div class="container">
    <h4>{{pageHeader}}</h4>
    <div class="row books" id="books">
        {{#each books}}
            {{> bookCard}}
        {{/each}}
    </div>
    <div id="snackbar">A book has been added to your favorites!</div>
</div>