{{> add-a-book-modal}}
{{> edit-book-modal}}

<div class="container" id="content-container" page={{page}}>
    <h4>{{pageHeader}}</h4>
    <div class="row books" id="books">
        {{#each books}}
            {{> bookCard}}
        {{/each}}
    </div>
    <div id="snackbar"></div>
</div>