<nav class='navbar-fixed'>
    <div class="nav-wrapper">

        <a href="#" class="brand-logo">OSU <span>BookTracker</span></a>

        <button id="add-a-book-button" class="waves-effect waves-light btn right modal-trigger"
            data-target="add-book">ADD A BOOK</button>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="waves-effect">Home</a></li>
            <li><a href="/favorites" class="waves-effect"><i class="material-icons">favorite</i></a></li>
        </ul>
        <a href="#">
            <div class="input-field right search">
                <input id="search" type="text" onkeydown="keyPress(event)" required>
                <i class="material-icons">close</i>
            </div>
        </a>
    </div>
</nav>
