{{> add-a-book-modal}}

<div class="container" id="quotes-container" page={{page}}>
    <p id="quote-content">
        {{quote}}
    </p>
    <em class="quote-author">{{author}}</em>
    <i class="quote-source">{{book}}</i>
</div>