@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

nav {
    background: #0d1128 !important;
    color: white;
}

.brand-logo {
    font-family: 'Righteous', cursive !important;
    width: 100px;
    line-height: 1;
    text-align: center;
}

.sidenav-logo {
    font-family: 'Righteous', cursive !important;
    padding: 10% !important;
    font-size: 20px;
    margin: 10px;
}

.brand-logo>span {
    font-size: 20px;
    text-align: center;
}

.btn {
    background: #ff5c00;
    color: white;
    margin: 10px;
}

.btn:hover {
    background-color: #e97633;
}

.card-title {
    background: black;
    opacity: .6;
    width: 100%;
}

.card-image img {
    height: 300px;
}

.card-action>a {
    color: #e97633 !important;
    transition: color .5s;
}

.card-action>a:hover {
    color: #ff5c00 !important;
}

.rating {
    position: absolute;
    z-index: 20;
    color: rgb(255, 138, 0);
    padding: 5px;
    top: 0;
}

.rating>span {
    font-size: 18px;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
    .card-title {
        font-size: 20px !important;

    }

    .search {
        width: 150px;
    }

    .search>input {
        width: 150px;
    }

    .card-image img {
        height: 200px !important;
    }
}