<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSU BookTracker</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.3.0/handlebars.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./templates/mainTemplate.js"></script>
    <script src="./templates/add-a-book-modal-template.js"></script>
    <script src="./templates/bookCardTemplate.js"></script>
    <script src="./templates/libraryPageTemplate.js"></script>
    <script src="./templates/navbarTemplate.js"></script>
    <script src="./templates/404pageTemplate.js"></script>
    <script src="./main.js"></script>


</head>

<body>

    {{> navbar}}

    {{{body}}}

</body>

</html>
