/*
CSS
I added some special effects/animation styling for the navigation bar when 
the user is scrolled all the way to the top
-- Braden Lee

*/

  body{
    font-size: .9rem;
    font-family:arial;
    color:beige;
    background-color: #ffffff;
    overflow-y: scroll;
  }
 
  h1{
    font-size: 2.7rem;
    line-height: 1.2;
    margin-bottom: 1em;
    font-family:tahoma;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

.navBar{
  display: block;
  position: absolute;
  top: 0;
  right: -30%;
  transition: all 1.3s linear;

}

.iconActive{
  display: block;
  position: absolute;
  top:0;
  right:0%;
}

.my-icons span{
  font-size: 35px;
  color:white;
  display: block;
  float: left;
  margin-right: 25px;
}

.my-icons span:hover{
  color: salmon;
}

#scroll{
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
  font-family: tahoma;
  color:tomato;
  font-weight: 700;
  text-shadow: 0 3px 6px yellow;

}

.header{
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: tomato;
  color: white;
  transition: all .9s linear;
}

.headerActive{
  height:  50px;
}

body{
  background: black;
  height: 2000px;
}

.head{
  margin-left: 33px;
  margin-top: 7px;
  list-style: none;
  font-style: 50px;
  font-weight: 700;
  font-family: tahoma;
  display: block;
  text-align: center;
  transition: all 1.3s linear;
}

.headActive{
  font-size: 30px;
  transform: translateX(-35%);

}
