@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
nav {
    background: #0d1128 !important;
    color: white;
}


/* check */

.brand-logo {
    font-family: 'Righteous', cursive !important;
    width: 100px;
    line-height: 1;
    text-align: center;
    margin-left: 10px;
}


/* check */

.sidenav-logo {
    font-family: 'Righteous', cursive !important;
    padding: 10% !important;
    font-size: 20px;
    margin: 10px;
}


/* check */

.brand-logo>span {
    font-size: 20px;
    text-align: center;
}


/* check */

.btn {
    background: #ff5c00;
    color: white;
    margin: 10px;
}


/* check */

.btn:hover {
    background-color: #e97633;
}


/* check */

.card-title {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.726);
    width: 250px;
    padding: 10px !important;
    font-size: 16px !important;
}

#title {
    padding: 0px;
}

#author {
    font-size: 10px;
    padding: 0px;
}


/* check(new update) */

.card-image img {
    height: 250px;
    max-width: 200px;
    transform: scale(1, 1);
    transition: transform .5s;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}


/* check(new update) */

.card-action>a {
    color: #e97633 !important;
    transition: color .5s;
}


/* check */

.card-action>a:hover {
    color: #ff5c00 !important;
}


/* check */

.rating {
    position: absolute;
    z-index: 20;
    color: rgb(255, 138, 0);
    padding: 5px;
    top: 0;
}


/* check */


/*
.rating>span {
    font-size: 18px;
}
removed
*/

@media only screen and (min-width: 500px) and (max-width: 992px) {
    /* check */
    .card-title {
        display: flex;
        background: black;
        opacity: .6;
        width: 250px;
    }
    /* check(new update) */
    .search {
        width: 150px;
    }
    /* check */
    .search>input {
        width: 150px;
    }
    /* check */
    .card-image img {
        max-height: 320px;
        max-width: 250px;
    }
    /* check(new update) */
    /* new CSS added here*/
    .col.s12.m4.l4.books {
        display: inline-block;
        vertical-align: top;
        height: 320px;
        width: 250px;
        margin: 20px;
    }
    .book-card {
        display: inline-block;
        vertical-align: top;
        height: 320px;
        width: 250px;
        margin: 20px;
    }
    .card-image img {
        max-height: 320px;
        max-width: 250px;
    }
    .brand-logo {
        font-family: 'Righteous', cursive !important;
        width: 100px;
        line-height: 1;
        text-align: center;
        margin-left: -42%;
    }
}


/*
#sell-something-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
    display: none;
}
removed
*/

.hidden {
    display: none;
}


/*404 page css*/

.error-container {
    text-align: center;
}


/* check */


/* new CSS added here*/

.search_bar {
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.col.s12.m4.l4.books {
    display: inline-block;
    vertical-align: top;
    height: 320px;
    width: 250px;
    margin: 20px;
}

.card {
    display: inline-block;
    vertical-align: top;
    height: 320px;
    width: 250px;
    margin: 20px;
}

.card-image img:hover {
    transform: scale(1.04, 1.04)
}

.rate {
    font-size: 16px;
}

.author {
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 0;
    padding: 5px;
    color: white;
    background: #ff5e00ad;
}

.date {
    position: absolute;
    right: 0;
    padding-right: 5px;
    font-size: 14px;
}

.lower-nav {
    top: 4.05em !important;
    border-top: 2px solid #ff5c00 !important;
}

<<<<<<< HEAD
.input-field.right.search #search {
    max-height: 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 1px #888888;
=======

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
>>>>>>> 087d0dbbe90b2cfe040610401607681fa94913a5
}