<<<<<<< HEAD
a{
  position: relative;
  font-family:tahoma;
  color:black;
  text-decoration: none;
  font-size: 40px;
}
h1.site-title{
  width: 800px;
  background-color: tomato;
  top: 15px;
  left: 55px;
  display: flex;
  align-items: center;
  position:relative;
}
header {
  height: 80px;
  width: 100%;
  background-color: tomato;
  font-weight: bold;
  align-items: center;
  position: relative;
}

input#input-search-text{
  position: relative;
  bottom: 45px;
  left: 550px;
  height: 20px;
  border-radius: 9px;
}
.content {
display:flex;

}

.sidebar {
  height: 100vh;
  width: 25vw;
  background-color: rgb(94, 93, 93);
}

.nav-button-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.nav-button {
  justify-content: center;
  margin-top: 10px;
}

.filter-container {
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #efefef;
}

.filter-container h2 {
  margin: 0;
}

.filter-input-container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.filter-input-element {
  margin: 0 5px;
  flex: 1 1 100%;
}

.filter-input {
  font-size: 14px;
  width: 100%;
  margin-left: 10px;
  padding: 3px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.books{ 
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 10px;
  padding:10px;
  border: 11 solid red;
  border-radius: 2px;
}

a.book-title{
 font-size: 80%;
}

.books-content{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.books-image-container img{
  max-width: 240px;
  max-width:240px;
}

.books-info-container{
  width:100%;
  margin-top: 20px;
}

#add-a-book-button{
  position: relative;
  bottom: 430px;
  left: 800px;
  height: 45px;
  width: 135px;
  border: none;
  border-radius: 8px;
  font-size: 8px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.books-price{
  display: inline-block;
  font-size: 80%;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid lightblue;
  border-radius: 2px;
  background: lightcoral;
}

#add-a-book-button:hover,
#add-a-book-button:focus {
  bottom: 435px;
  left: 800px;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-size: 11px;
}

#add-a-book-button:focus {
  outline: none;
=======
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
nav {
    background: #0d1128 !important;
    color: white;
}


/* check */

.brand-logo {
    font-family: 'Righteous', cursive !important;
    width: 100px;
    line-height: 1;
    text-align: center;
}


/* check */

.sidenav-logo {
    font-family: 'Righteous', cursive !important;
    padding: 10% !important;
    font-size: 20px;
    margin: 10px;
}


/* check */

.brand-logo>span {
    font-size: 20px;
    text-align: center;
}


/* check */

.btn {
    background: #ff5c00;
    color: white;
    margin: 10px;
}


/* check */

.btn:hover {
    background-color: #e97633;
}


/* check */

.card-title {
    display: flex;
    background: rgba(0, 0, 0, 0.726);
    width: 250px;
    padding: 10px !important;
    font-size: 16px !important;
}


/* check(new update) */

.card-image img {
    max-height: 330px;
    max-width: 250px;
    min-height: 250px;
    transform: scale(1, 1);
    transition: transform .5s;
}


/* check(new update) */

.card-action>a {
    color: #e97633 !important;
    transition: color .5s;
}


/* check */

.card-action>a:hover {
    color: #ff5c00 !important;
}


/* check */

.rating {
    position: absolute;
    z-index: 20;
    color: rgb(255, 138, 0);
    padding: 5px;
    top: 0;
}


/* check */


/*
.rating>span {
    font-size: 18px;
}
removed
*/

@media only screen and (min-width: 100px) and (max-width: 900px) {
    /* check */
    .card-title {
        display: flex;
        background: black;
        opacity: .6;
        width: 250px;
    }
    /* check(new update) */
    .search {
        width: 150px;
    }
    /* check */
    .search>input {
        width: 150px;
    }
    /* check */
    .card-image img {
        max-height: 320px;
        max-width: 250px;
    }
    /* check(new update) */
    /* new CSS added here*/
    .col.s12.m4.l4.books {
        display: inline-block;
        vertical-align: top;
        height: 320px;
        width: 250px;
        margin: 20px;
    }
    .book-card {
        display: inline-block;
        vertical-align: top;
        height: 320px;
        width: 250px;
        margin: 20px;
    }
    .card-image img {
        max-height: 320px;
        max-width: 250px;
    }
}


/*
#sell-something-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
    display: none;
}
removed
*/

.hidden {
    display: none;
}


/*404 page css*/

.error-container {
    text-align: center;
}


/* check */


/* new CSS added here*/

.search_bar {
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.col.s12.m4.l4.books {
    display: inline-block;
    vertical-align: top;
    height: 320px;
    width: 250px;
    margin: 20px;
}

.card {
    display: inline-block;
    vertical-align: top;
    height: 320px;
    width: 250px;
    margin: 20px;
}

.card-image img:hover {
    transform: scale(1.04, 1.04)
}

.rate {
    font-size: 16px;
}

.author {
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 0;
    padding: 5px;
    color: white;
    background: #ff5e00ad;
}

.date {
    position: absolute;
    right: 0;
    padding-right: 5px;
    font-size: 14px;
}

.lower-nav {
    top: 4.05em !important;
    border-top: 2px solid #ff5c00 !important;
>>>>>>> 6e0fe2bba9d4a44f42d4ded07e25d6c7a84c871c
}