header {
    background-color: rgb(255, 153, 0);
    font-weight: bold;
    width: 75%;
    float: right;
}

.content {


}

.sidebar {
    height: 100vh;
    width: 25vw;
    background-color: rgb(94, 93, 93);
}

#search-text-container {

}

.nav-button-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.nav-button {
    justify-content: center;
    margin-top: 10px;
}

.filter-container {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    margin: 10px 10px auto 10px;
    padding: 20px;
    border-radius: 3px;
    background-color: #efefef;
  }
  
  .filter-container h2 {
    margin: 0;
  }
  
  .filter-input-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }

  .filter-input-element {
    margin: 0 5px;
    flex: 1 1 100%;
  }
  
  .filter-input {
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #dadada;
    border-radius: 3px;
  }